@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Geo", sans-serif;
  background-image: url("https://d1v7jayx2s9clc.cloudfront.net/user/pages/51.m9ndfukc-0-99/Picture%2011-.png");
}

h1 {
  height: 20vh;
  width: 80vh;
  background-color: white;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  line-height: 20vh;
}

div {
  height: 50vh;
  width: 100vh;
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
}

.btn {
  position: absolute;
  bottom: 4%;
  border-radius: 2px;
  background-color: #ddd;
}

#next-btn {
  left: 60%;
}

#prev-btn {
  left: 40%;
}
